<div class="jumbotron">
    <h1>PasswordSafe Web</h1>
</div>
<div class="container">
    <form action="/Encrypt">
        <div class="form-group">
            <label for="input">Enter password to encrypt:</label>
            <input type="text" class="form-control" id="input" placeholder="Enter password" name="input">
        </div>
        <div class="form-group">
            <label for="rotateBy">Enter a number to encrypt with:</label>
            <input type="text" class="form-control" id="rotateBy" placeholder="Enter password" name="rotateBy">
        </div>
        <div class="form-group">
            <label>Encrypted: </label>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
